version: "3.8"

services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - uploads:/app/public/uploads
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      PORT: 3000
    depends_on:
      - db
    restart: always
    env_file:
      - .env

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    env_file:
      - .env

volumes:
  data:
  uploads:
